.panel-heading
{
    padding-left:45%;
    font-size: large;
    
}
.panel-body
{
    padding-left:43%; 
    font-size: large;
}
.panel{
    margin-top:5%;
    height: 60vh;
} 
.mainContent
{
    border:1px solid black;
}
.mainContent>div,.mainContent
{
    margin-top:25%;
    width:50%;
    margin:auto;
    height:20%;
    font-size: large;
 
}


